.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox {
  width: auto;
}
ul {
  padding-inline-start: 0em;
}
h3 {
  color: var(--PrimaryColor);
  margin-bottom: 0px;
}
