:root {
  --PrimaryColor: #00bfff;
}

body {
  margin: 0px;
  font-family: "Balsamiq Sans";
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0px;
}

/* Navigation Bar */
span {
  color: var(--PrimaryColor);
}
header {
  padding: 0rem 0rem 0rem 1rem;
  display: flex;
  border-bottom: black 0.2rem solid;
  box-shadow: 0 0 20px 0 gray;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
header ul {
  display: flex;
  align-items: center;
}
header li {
  padding: 0rem 2rem;
  height: 100%;
}
header li:hover {
  cursor: pointer;
  background-color: var(--PrimaryColor);
  box-shadow: 0 0 20px 0 var(--PrimaryColor);
  transition: 0.4s ease-in-out;
  transition-property: box-shadow, background-color;
}
header li:hover a {
  color: white;
  transition: color 0.4s ease-in-out;
}

nav {
  display: flex;
  width: 100vw;
}
.nav-left {
  flex: 1 1 200px;
}

/* Hero */
.Hero {
  height: 89vh;
  background-image: url("images/background.jpg");
  background-size: cover;
  text-align: center;
  padding-top: 5vh;
  font-size: 1.2rem;
  color: white;
  align-self: center;
}
.Hero .container {
  background-color: rgb(64, 93, 224, 0.5);

  /* border-radius: 0.5rem; */
  /* width: 40%; */
}
.Hpart1 {
  font-size: 2rem;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  border-top: black 0.2rem solid;
  background-color: white;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li {
  padding: 0rem 2rem;
  height: 100%;
}
footer li:hover {
  cursor: pointer;
}
footer li:hover a {
  color: var(--PrimaryColor);
  transition: color 0.3s ease-in-out;
}
